<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<extensions>
		<!-- Подключаем функциональность для работы с базами данных -->
		<add assembly="NLog.Database"/>
	</extensions>
	
	<targets>
		<target xsi:type="file" name="fileTarget" fileName="${basedir}/logs/${shortdate}.log" />

		<target name="dbFull"
			xsi:type="Database"
			connectionString="server=SqlServer;Database=Infrastructure;user id=logUser;password=superSecretPassword"
			commandType="StoredProcedure"
			commandText="[Log].[NLog_AddEntry_p]"
			>
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
			<parameter name="@systemName"     layout="zeroNds" />
			<parameter name="@systemModule"   layout="pdfToJpegConverter" />
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Off" final="true"/>
		<!--<logger name="*" minlevel="Info" writeTo="dbFull" />-->
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
	</rules>
</nlog>

